@page "/SamplePages/PlaylistManagement"
@using BlazorWebApp.BlazorPagination
<PageTitle>Playlist Management</PageTitle>
<h3>Playlist Management</h3>
<div id="container">

    <div>
        Search Pattern
        <p>
            <MatTextField @bind-Value="@searchPattern" Label="Search Pattern" />
        </p>
        <p>
            <MatRadioGroup @bind-Value="@searchType" TValue="string">
                <MatRadioButton Value="@("Artist")" Label="Artist" TValue="string" />
                <MatRadioButton Value="@("Album")" TValue="string">Album</MatRadioButton> />
            </MatRadioGroup>
            <button class="btn-success" onclick="@FetchArtistOrAlbumTracks">Search</button>
        </p>
        @if (PaginatorTrackSelection.RowCount == 0)
        {
            <p><em>Please enter either a artist or album</em></p>
        }
        else
        {
            <TableTemplate Items="PaginatorTrackSelection.Results" Context="TrackSelectionView">
                <TableHeader>
                    <th></th>
                    <th class="SortField @GetSortColumn("SongName")" @onclick="@( () => Sort("SongName"))">Song</th>
                    <th class="SortField @GetSortColumn("AlbumTitle")" @onclick="@( () => Sort("AlbumTitle"))">Album</th>
                    <th class="SortField @GetSortColumn("ArtistName")" @onclick="@( () => Sort("ArtistName"))">Artist</th>
                    <th class="SortField @GetSortColumn("Milliseconds")" @onclick="@( () => Sort("Milliseconds"))">Length</th>
                    <th class="SortField @GetSortColumn("Price")" @onclick="@( () => Sort("Price"))">Price</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        <button class="btn-success"
                                @onclick="(() => AddTrackToPlaylist(TrackSelectionView.TrackId))">
                            Add
                        </button>
                    </td>
                    <td>@TrackSelectionView.SongName</td>
                    <td>@TrackSelectionView.AlbumTitle</td>
                    <td>@TrackSelectionView.ArtistName</td>
                    <td>@TrackSelectionView.Milliseconds</td>
                    <td>@TrackSelectionView.Price</td>
                </RowTemplate>
            </TableTemplate>
            <div align="center">
                <BlazorPager CurrentPage="PaginatorTrackSelection.CurrentPage"
                             PageCount="PaginatorTrackSelection.PageCount"
                             VisiblePages="3"
                             ShowFirstLast="true"
                             ShowPageNumbers="true"
                             FirstText="&laquo;"
                             LastText="&raquo;"
                             NextText="&rsaquo;"
                             PreviousText="&lsaquo;"
                             OnPageChanged="(async e => { CurrentPage = e; await FetchArtistOrAlbumTracks();})">
                </BlazorPager>
            </div>
        }
    </div>
    <div>

    </div>

</div>


